<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/Javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<servlet>
		<servlet-name>login_servlet</servlet-name>
		<servlet-class>login_servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>add_voter</servlet-name>
		<servlet-class>add_voter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>vote</servlet-name>
		<servlet-class>vote</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>party_reg</servlet-name>
		<servlet-class>party_reg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login_servlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>party_register</servlet-name>
		<url-pattern>/party_register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>vote</servlet-name>
		<url-pattern>/vote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>add_voter</servlet-name>
		<url-pattern>/add_voter</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
			<welcome-file></welcome-file>
			<welcome-file>Home.html</welcome-file>
			
	</welcome-file-list>
</web-app>